@{
    ViewBag.Title = "Home Page";
}

<div class="hero-unit">
    <h1>Birthday Surprise</h1>
    <p class="lead">Let a loved one know they have a surprise in store without giving too much away!</p>
    <p><a href="@Url.Action("Create","Surprise")" class="btn btn-primary btn-large">Send A New Surprise &raquo;</a></p>
</div>
<div class="row">
    <div class="span4">
        <h2>Build Anticipation</h2>
        <p>By starting with a simple empty pass, you can give your loved one a hint at what might be in-store without giving too much away!</p>
        <p><a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Be Mysterious</h2>
        <p>Send updates to the card as the surprise approaches, giving them clues such as a date or time, but without giving too much away!</p>
        <p><a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Update Automatically</h2>
        <p>Easily see when they have installed the surprise pass and plan to have your updates sent automatically so you don't forget!</p>
        <p><a class="btn" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>