@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Passbook.css" rel="stylesheet" />
<h2>New Birthday Card</h2>
<hr />
@using (Html.BeginForm())
{
    <div class="row">
        <div class="span6">
            <label>Who's Birthday is it?</label>
            <input type="text" />
            <label>When is their Birthday?</label>
            <input type="text" />
            <hr />
            <label>When is their email address?</label>
            <input type="text" />
        </div>
        <div class="span3">
            <div class="pass">
                <div class="strip">
                    <img src="~/img/surprise.png" />
                </div>
                <div class="logo">
                    Do Not Open Until The 13th Of July
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="pass">
                <div class="strip">
                    <img src="~/img/balloons.jpg" />
                </div>
                <div class="primary">
                    <div class="discount" style="color:black;">Happy Birthday</div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-success"><i class="icon-plus"></i>&nbsp;Create New Card</button>
}
