@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Passbook.css" rel="stylesheet" />
<h2>New Birthday Card</h2>
<hr />
<div class="row">
    <div class="span8">
        <label>Who's Birthday is it?</label>
        <input type="text" />
        <label>When is their Birthday?</label>
        <input type="text" />
    </div>
    <div class="span4">
        <div class="pass">
            <div class="strip">
                <img src="~/img/balloons.jpg" />
            </div>
            <div class="primary">
                <div class="discount" style="color:black;">Happy Birthday</div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-success"><i class="icon-plus"></i>&nbsp;Create New Card</button>

